body {
    background-image: url(images/Background.jpg);
}

#introVid {
    width: 560;
    height: 315
}

#fbButton {

}

.dash {
    text-decoration: none;
}

.header {
    display: flex;
    flex-flow: row wrap;
    
}
.headerRight {
    display: flex;
    flex-flow: column wrap;
}
.headerLeft {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
img {
    max-width: 200px;
    max-height: 200px;
}
